<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample Suite">
 <listeners>
        <listener class-name="thingblu.utility.listners.TestListener"/>
    </listeners>
  <test name="testing">
    <classes>
       <class name="thingblu.TestsCasesManager.Mngr_AddNewLotEntry" />
    </classes>
  </test>
</suite>